// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  background-color: #35B9E4;
}
.nav li a{
  color: white;
}
.nav li a:hover {
  color: #000;
}
a {
  text-decoration: none !important;
}
.article {
  border-bottom: 1px solid #eee;
}
.article-title {
  font-size: 18px;
  color: #000;
  margin-top: 20px;
}
.article-content {
  margin-top: 15px;
  font-size: 13px;
  color: #888;
}
.article-footer {
  margin-top: 10px;
  font-size: 13px;
}
.article-footer > a {
  color: #999;
  font-family: "sans-serif";
  font-weight: lighter;
}
#post-time {
  margin-left: 20px;
}